#snowman {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: skyblue;

}

#hat {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#hat > div:first-child{
    width: 4vw;
    height: 4vw;
    background-color:black;
}

#hat > div:last-child{
    width: 5.5vw;
    height: 0.5vw;
    background-color: black;
}


#head > article {
    width: 6.5vw;
    height: 6.5vw;
    position: relative;
    border-radius: 50%;
    background-color:white;
}

#head > article > article {
    position: absolute;
    display: flex;
    top: 1vw;
    left: 1.5vw;

}

#head > article > article > div {
    width: 0.8vw;
    height: 0.8vw;
    margin: 0.4vw;
    border-radius: 50%;
    background-color: black;
}

#head > article >div {
    width: 2vw;
    height: 0.8vw;
    position: absolute;
    top: 2.6vw;
    left: 2vw;
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#body {
    width:8.5vw;
    height:8.5vw;
    position: relative;
    background-color:white;
    border-radius: 50%;
    z-index: 50;

}

#body > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 1vw;
    left: 2.9vw;
    z-index: 99;

}

#body > article > div {
    width: 0.7vw;
    height: 0.7vw;
    background-color: black;
    border-radius: 50%;
    margin: 0.6vw;
}

#leg > div {
    width: 0.5vw;
    height: 5.5vw;
    background-color: brown;
    position: absolute;
    top:-11vw;
}

#leg :first-child {
    transform:rotate(60deg);
    right: 0vw;
}

#leg :last-child {
    transform:rotate(-60deg);
    left: 0vw;
}

#leg {
    width: 10.5vw;
    height: 10.5vw;
    position: relative;
    background-color: white;
    border-radius: 50%;
}